extends layout
block head
  link(rel='stylesheet', href='/stylesheets/cover.css')
  link(rel='stylesheet', href='/stylesheets/signin.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand
              a(href='/')
                img(src='/images/hapi.logo.png', height='50em', width='122.5em')
            ul.nav.masthead-nav
              li
                a(href='/') Home
              li
                a(href='/signup') Sign Up
              li.active
                a(href='/login') Sign In
        .inner.cover
          form.form-signin(role='form', action='/login', method='post')
            h2.form-signin-heading Please sign in
            input.form-control(type='email', name='email', placeholder='Email', required='required', autofocus='autofocus')
            input.form-control(type='password', name='password', placeholder='Password', required='required')
            button.btn.btn-lg.btn-primary.btn-block(type='submit', value='Log In') Sign in
          a(href="/auth/github").btn.btn-lg.btn-primary.btn-social.btn-github
            i.fa.fa-github
            | Sign in with Github
        .mastfoot
          .inner
            p
              | © Hapi, Inc.
              | "Outsource to Detroit" by
              | <a href="http://www.flickr.com/photos/brunovz/"> Bruno_VZ </a>
              | is licensed under
              | <a href="http://creativecommons.org/licenses/by/2.0/"> CC BY 2.0. </a>


