* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#slideout {
    position: fixed;
    top: 1em;
    left: 0;
    /*
    transition-duration
    */
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    /*
    border-radius
    */
    -webkit-border-radius: 0 45px 45px 0;
    -moz-border-radius: 0 45px 45px 0;
    border-radius: 0 45px 45px 0;
    background-color: rgba(3, 64, 82, 0.90);
}

#slideout-inner-menu {
    width: 10em;
    height: 100%;
    position: fixed;
    top: 0;
    left: -10em;
    /*
    transition-duration
    */
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background-color: rgba(3, 64, 82, 0.90);
    overflow: scroll;
}

.slideout-inner-menu-item {
    width: 100%;
    height: 16.6%;
    display: table;
}

.slideout-inner-menu-item-inner {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 2.5em;
}

#slideout-inner-menu .slideout-inner-menu-item:hover,
#slideout-inner-menu .slideout-inner-menu-item:focus {
    background-color: rgba(3, 64, 82, 0.70);
}

#slideout-inner-menu .slideout-inner-menu-item a {
    text-decoration: none !important;
    color: #FFF;
}

#slideout:hover,
#slideout:focus {
    left: 10em;
}

#slideout:hover #slideout-inner-menu,
#slideout:focus #slideout-inner-menu {
    left: 0;
}

#dash-logo {
    height: 3.5em;
    width: 3.5em;
    background: url("../../images/hapi.logo.svg");
    background-size: 100% 100%;
    display: block;
    margin: 1em;
}

.dash-button {
    padding: .1em .3em .1em .3em;
    background-color: transparent;
    border: 3px solid #FFF;
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 2em;
    display: inline-block;
}

.dash-button:hover,
.dash-button:focus {
    border: 3px solid #035A73;
    color: #035A73;
}

.dash-top {
    height: 100%%;
    width: 100%;
    background-color: #0CA7D2;
}

.dash-top-left {
    height: 100%;
    display: table;
    background-color: #0CA7D2;
}

.dash-top-left-inner {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dash-top-left-inner-title {
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 4em;
}

.dash-top-left-inner-subtitle {
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #035A73;
    font-size: 2.5em;
}

.dash-top-right {
    height: 100%;
    background-color: #0A99C3;
}

.dash-top-right-inner {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.dash-top-right-inner-cell {
    width: 100%;
    height: 15%;
    display: table;
    background-color: #0084AA;
}

.dash-top-right-inner-cell-alt {
    width: 100%;
    height: 15%;
    display: table;
    background-color: #0A99C3;
}

.dash-top-right-inner-cell-inner {
    height: 100%;
    width: 100%;
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
    padding-left: .5em;
}

.dash-top-right-inner-cell-inner a {
    text-decoration: none !important;
    color: #FFF;
}

.dash-top-right-inner-cell-inner a:hover,
.dash-top-right-inner-cell-inner a:focus {
    color: #035A73;
}

.dash-bottom {
    height: 0%;
    width: 100%;
    background-color: #0785A9;
}

.dash-bottom-inner {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #0785A9;
}

.dash-bottom-inner-cell {
    width: 45%;
    height: 100%;
    background-color: #0785A9;
    display: inline-block;
}

.dash-bottom-inner-cell-alt {
    width: 45%;
    height: 100%;
    background-color: #034D61;
    display: inline-block;
}

.dash-bottom-inner-cell-inner {
    height: 100%;
    width: 100%;
    padding-left: .5em;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dash-bottom-inner-cell-inner-title {
    width: 97%;
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 4em;
}

.dash-bottom-inner-cell-inner-content {
    width: 97%;
    padding-left: .5em;
    font-family: bebas_neueregular, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 2em;
}

@media only screen and (max-width: 48em) {
    .dash-bottom-inner-cell {
        width: 80%;
        height: 100%;
        background-color: #0785A9;
        display: inline-block;
    }

    .dash-bottom-inner-cell-alt {
        width: 80%;
        height: 100%;
        background-color: #034D61;
        display: inline-block;
    }
}

/*
Modal Dialog
*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    /*
    backface-visibility
    */
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /*
    transform
    */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.modal-inner {
}

.modal-show {
    visibility: visible;
}

.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background-color: rgba(3, 64, 82, 0.90);
    /*
    transition
    */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-show ~ .modal-overlay {
    opacity: 1;
    visibility: visible;
}

.modal-show.modal-effect-justme ~ .modal-overlay {
    background-color: rgba(3, 64, 82, 0.90);
}
