* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.home-logo {
    height: 8em;
    width: 8em;
    background: url("../../images/hapi.logo.svg");
    background-size: 100% 100%;
    display: block;
    margin: auto;
}

.home-input {
    width: 100%;
    padding: .25em;
    margin-top: .25em;
    color: #000;
    background-color: #FFF;
    font-family: source_sans_prolight, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .25em solid #D1D1D1;
}

.home-button {
    width: 100%;
    padding: .25em;
    margin-top: .25em;
    background-color: #035A73;
    font-family: source_sans_probold, Helvetica, Arial, sans-serif;
    color: #FFF;
    font-size: 1.5em;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: .25em solid rgba(3, 64, 82, 0.90);
}

.home-button:hover,
.home-button:focus {
    background-color: rgba(3, 64, 82, 0.90);
    border-bottom: .25em solid #035A73;
}

.home-copyright {
    width: 100%;
    color: #FFF;
    font-family: source_sans_prolight, Helvetica, Arial, sans-serif;
    font-size: 1em;
    bottom: 0;
    margin-bottom: .5em;
}

.home {
    width: 100%;
    height: 100%;
    background-color: #0CA7D2;
}

.home-left {
    height: 100%;
    background-color: #0CA7D2;
}

.home-middle {
    height: 100%;
    display: table;
    background-color: #0CA7D2;
}

.home-right {
    height: 100%;
    background-color: #0CA7D2;
}

.home-middle-inner {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 1em;
}

.home-middle-inner-title {
    width: 100%;
    color: #FFF;
    font-family: source_sans_probold, Helvetica, Arial, sans-serif;
    font-size: 4em;
}

.home-middle-inner-subtitle {
    width: 100%;
    color: #FFF;
    font-family: source_sans_prolight, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

.home-auth {
    margin: 1em;
}

.home-github {
    margin-bottom: .5em;
}

.home-signin {
    width: 20em;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.home-signin-inner {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-signin-inner-title {
    width: 100%;
    color: #FFF;
    font-family: source_sans_probold, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    text-align: left;
}

.home-signup {
    width: 20em;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.home-signup-inner {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-signup-inner-title {
    width: 100%;
    color: #FFF;
    font-family: source_sans_probold, Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    text-align: left;
}
